<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8739682103-300ilgvt8cqt2jfd6oi02uf5lc74l1cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8739682103-300ilgvt8cqt2jfd6oi02uf5lc74l1cq</string>
	<key>API_KEY</key>
	<string>AIzaSyDcDESHo2w20ZqjNrckhhbhO_mRUEhtiA0</string>
	<key>GCM_SENDER_ID</key>
	<string>8739682103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khaled2024.ToDoList2</string>
	<key>PROJECT_ID</key>
	<string>todolist-d83de</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-d83de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8739682103:ios:a84db9f661aa37f12a4cb2</string>
</dict>
</plist>